/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.middle-content .boxes .box1 {
    width: 12.5%;
    height: 100px;
    background: teal;
    margin: 20px 2.5%; 
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box2 {
    width: 12.5%;
    height: 100px;
    background: gold;
    margin: 30px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box3 {
    width: 12.5%;
    height: 100px;
    background: cadetblue;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box4 {
    width: 12.5%;
    height: 100px;
    background: coral;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box5 {
    width: 12.5%;
    height: 100px;
    background: crimson;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box6 {
    width: 12.5%;
    height: 100px;
    background: forestgreen;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box7 {
    width: 12.5%;
    height: 100px;
    background: darkorchid;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box8 {
    width: 12.5%;
    height: 100px;
    background: hotpink;
    margin: 20px 2.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box9 {
    width: 12.5%;
    height: 100px;
    background: indigo;
    margin: 20px 2.5%; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-content .boxes .box10 {
    width: 12.5%;
    height: 100px;
    background: dodgerblue;
    margin: 20px 2.5%; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.bottom-content .text-container{
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}
header nav{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left:20%;
    padding: 20px 2%;
    font-size: 1.4rem;
    text-decoration:none;
  }
  header nav h1{
      margin-right:150px;

  }
  img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5%;
    margin-top:5%;
    height:250px;
    width:50%;
  }
  h1{
    font-size:2rem;
    padding-right:10%;
  }
  .Header{
      display:flex;
      margin-right:30%;
      width:80%;
  }
  a{
      text-decoration: none;
      color:black;
  }
  .About :hover{
      color:blue;
  }

  /* Media Queires */

  @media (max-width:500px){
    .middle-content .boxes{
        margin-left: auto;
        margin-right: auto;
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        justify-content:center;
    }
    .middle-content .boxes .box1 {
        width: 25%;
        height: 100px;
        background: teal;
        margin-left: auto;
        margin-right: auto; 
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box2 {
        width: 25%;
        height: 100px;
        background: gold;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box3 {
        width: 25%;        
        height: 100px;
        background: cadetblue;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box4 {
        width: 25%;
        height: 100px;
        background: coral;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box5 {
        width: 25%;
        height: 100px;
        background: crimson;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box6 {
        width: 25%;
        height: 100px;
        background: forestgreen;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box7 {
        width: 25%;
        height: 100px;
        background: darkorchid;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box8 {
        width: 25%;
        height: 100px;
        background: hotpink;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box9 {
        width: 25%;
        height: 100px;
        background: indigo;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box10 {
        width: 25%;
        height: 100px;
        background: dodgerblue;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer nav{
        display:flex;
        flex-direction:column;
        font-size:1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    .bottom-content .text-container{
        display:flex;
        flex-direction: column;
    }
    .bottom-content .text-container h2{
        margin-left:2% ;
        margin-right:2% ; 
    }
    .top-content .text-container{
        display:flex;
        flex-direction:column;
        flex-wrap: nowrap;
        margin-left: 20%;
        margin-right: 20%;
    }
    header nav{
        display:flex;
        flex-direction: column;
        margin-left: 100px;
    }
    header nav h1{
       display:flex;
       margin-right: 100px;
    }
    .middle-content h2{
        display:flex;
        justify-content: center;
    }
    .Home{
        margin-right:130px;
    }
    .About{
        margin-right:130px;
    }
    .Contact{
        margin-right:130px;
    }
    .Product{
        margin-right:130px;
    }
    .Blog{
        margin-right:130px;

    }
  }

  @media (max-width:800px){
    .middle-content .boxes .box1 {
        width: 35%;
        height: 100px;
        background: teal;
        margin-top:auto ;
        margin-left: auto;
        margin-right: auto; 
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box2 {
        width: 35%;
        height: 100px;
        background: gold;
        margin-top:50px; ;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box3 {
        width: 35%;        
        height: 100px;
        background: cadetblue;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box4 {
        width: 35%;
        height: 100px;
        background: coral;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box5 {
        width: 35%;
        height: 100px;
        background: crimson;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box6 {
        width: 35%;
        height: 100px;
        background: forestgreen;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box7 {
        width: 35%;
        height: 100px;
        background: darkorchid;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box8 {
        width: 35%;
        height: 100px;
        background: hotpink;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box9 {
        width: 35%;
        height: 100px;
        background: indigo;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .middle-content .boxes .box10 {
        width: 35%;
        height: 100px;
        background: dodgerblue;
        margin-left: auto;
        margin-right: auto;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
  }
  .top-content .text-container{
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    margin-left: 20%;
    margin-right: 20%;
}
.bottom-content .text-container{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-right: 30%;

}
footer nav{
    display:flex;
    margin-left: 25%;
}
header nav{
        display:flex;
        flex-direction: column;
        margin-left: 95px;
    }
    header nav h1{
       display:flex;
       margin-right: 40px;
}
.Home{
    margin-right:95px;
}
.About{
    margin-right:95px;
}
.Contact{
    margin-right:95px;
}
.Product{
    margin-right:95px;
}
.Blog{
    margin-right:95px;
}
}